.banner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    margin: 20px 0;
  }
  
  .banner-imagen {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .flecha {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
  }
  
  .flecha:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .flecha.izquierda {
    left: 10px;
  }
  
  .flecha.derecha {
    right: 10px;
  }
  